# Database
# Local PostgreSQL provided by Docker Compose
DATABASE_URL="postgresql://postgres:your_password@127.0.0.1:5431/postgres"

# Docker PostgreSQL
POSTGRES_PASSWORD="your_password"

# Better Auth
BETTER_AUTH_SECRET="your_secret_at_least_32_characters_long"

# GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""